.header::before, .section-cta::before, .section-price::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* sticky footer */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #2E2E2E;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* sticky footer */
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.none {
  display: none !important;
}

input, textarea, button {
  font-family: inherit;
  padding: 0;
}

.button-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}

.button-round:hover {
  background-color: #00C470;
}

.input {
  width: 240px;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
}

.input::-webkit-input-placeholder {
  color: #fff;
}

.input:-ms-input-placeholder {
  color: #fff;
}

.input::-ms-input-placeholder {
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.25);
}

.button {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #00C470;
  border-radius: 30px;
  border: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}
.button:hover {
  background-color: #00a55e;
}
.button:focus {
  outline: none;
  background-color: #01864d;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
}

.title--white {
  color: #fff;
}

.subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
}

.subtitle--white {
  color: #fff;
}

.card {
  width: 270px;
  text-align: center;
}

.card__img {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

.card__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.1;
  color: #808080;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  color: #fff;
  text-align: center;
}

.product--special {
  background-color: rgba(48, 79, 254, 0.95);
}
.product--special .product__title {
  color: #fff;
}
.product--special .product__period {
  background: rgba(0, 0, 0, 0.1);
}

.product__header {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.product__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #B2B2B2;
}

.product__price {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}

.product__period {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
}

.product__list {
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 58px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
}
.product__list li:not(:last-child) {
  margin-bottom: 25px;
}

.product__button {
  margin-top: auto;
}

.button-outline {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}
.button-outline:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px sopid rgba(255, 255, 255, 0);
}
.button-outline:focus {
  outline: none;
  background-color: #000;
}

.button-solid {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fff;
  border-radius: 30px;
  border: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2E2E2E;
  cursor: pointer;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}
.button-solid:hover {
  background-color: #000;
  color: #fff;
}
.button-solid:focus {
  outline: none;
  background-color: #2f2f2f;
  color: #fff;
}

.slider {
  position: relative;
}

.section-clients__slider {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.slider__arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #F5F5F5;
  border: none;
  cursor: pointer;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}
.slider__arrow--left {
  top: 53px;
  left: -46px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.slider__arrow--rigth {
  top: 53px;
  right: -46px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.slider__arrow:hover {
  background-color: #00C470;
}
.slider__arrow:hover path {
  stroke: white;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-item__text {
  margin-bottom: 30px;
  padding: 0 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000000;
}
.slider-item__text p:not(:last-child) {
  margin-bottom: 15px;
}

.slider-item__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.slider-item__author-description {
  font-size: 16px;
  font-weight: 500;
}

.slider-item__author-title {
  display: block;
  margin-bottom: 5px;
  color: #00c470;
}

.slider-item__author-name {
  display: block;
  color: #808080;
}

.header {
  position: relative;
  height: 870px;
  background-image: url("./../img/bg/header-bg.jpg");
  background-position: center;
  background-size: cover;
}

.header__wrapper {
  padding-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  color: #fff;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
}

.header__description {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
.header__description p:not(:last-child) {
  margin-bottom: 15px;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__form > * + * {
  margin-left: 20px;
}

.header__scroll {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-cta {
  position: relative;
  padding-top: 83px;
  padding-bottom: 84px;
  background-image: url("./../img/bg/cta-bg.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
}

.section-cta__content {
  position: relative;
  z-index: 9;
}

.section-cta__content .button {
  display: inline-block;
  text-decoration: none;
}

.section-cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
}
.section-cta__title span {
  text-transform: uppercase;
  font-weight: 700;
}

.section-functional {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-functional__header {
  margin-bottom: 70px;
  text-align: center;
}

.section-functional__title {
  margin-bottom: 40px;
}

.section-functional__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.section-functional__row > * {
  margin-left: 15px;
  margin-right: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E1E1E1;
}

.section-tasks__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
  padding-right: 114px;
}

.section-tasks__content {
  width: 570px;
}

.section-tasks__header {
  margin-bottom: 30px;
}

.section-tasks__title {
  margin-bottom: 30px;
}

.section-tasks__description {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.1;
  color: #808080;
}
.section-tasks__description p:not(:last-child) {
  margin-bottom: 15px;
}

.section-focus {
  padding-top: 80px;
  padding-bottom: 40px;
}

.section-focus__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-focus__content {
  width: 470px;
  padding-top: 28px;
}

.section-focus__header {
  margin-bottom: 30px;
}

.section-focus__title {
  margin-bottom: 30px;
}

.section-focus__description {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.1;
  color: #808080;
}
.section-focus__description p:not(:last-child) {
  margin-bottom: 15px;
}

.section-price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url("./../img/bg/price-bg.jpg");
  background-position: center;
  background-size: cover;
}

.section-price__content {
  position: relative;
  z-index: 9;
}

.section-price__header {
  margin-bottom: 80px;
  text-align: center;
}

.section-price__title {
  margin-bottom: 40px;
}

.section-price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.section-clients {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
}

.section-clients__title {
  margin-bottom: 40px;
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #1a1a1a;
  color: #fff;
}

.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.footer_nav {
  margin-right: 40px;
}

.footer__nav-item {
  margin-right: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}
.footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav-item:hover {
  color: #15D784;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.1);
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}
.footer__social-item:hover {
  background-color: #00c470;
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/*# sourceMappingURL=main.css.map */