.section-cta {
    position: relative;
    padding-top: 83px;
    padding-bottom: 84px;

    @include bgImage("./../img/bg/cta-bg.jpg");

    text-align: center;
    color: #FFFFFF;

    &::before {
        @extend %overlay;
    }
}

.section-cta__content {
    position: relative;
    z-index: 9;
}

.section-cta__content .button {
    display: inline-block;
    text-decoration: none;
}

.section-cta__title {
    margin-bottom: 40px;

    font-weight: 500;
    font-size: 22px;
    line-height: 1;

    span {
        text-transform: uppercase;
        font-weight: 700;
    }
}