.section-focus {
    padding-top: 80px;
    padding-bottom: 40px;
}

.section-focus__img {

}

.section-focus__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section-focus__content {
    width: 470px;
    padding-top: 28px;
}

.section-focus__header {
    margin-bottom: 30px;
}

.section-focus__title {
    margin-bottom: 30px;
}

.section-focus__description {
    width: 400px;

    font-weight: 500;
    font-size: 14px;
    line-height: 2.1;
    
    color: #808080;

    p:not(:last-child) {
        margin-bottom: 15px;
    }
}